aiobotocore @ file:///home/conda/feedstock_root/build_artifacts/aiobotocore_1629880237170/work
aiohttp @ file:///Users/runner/miniforge3/conda-bld/aiohttp_1623682484649/work
aiohttp-retry @ file:///home/conda/feedstock_root/build_artifacts/aiohttp-retry_1632292602851/work
aioitertools @ file:///home/conda/feedstock_root/build_artifacts/aioitertools_1628428722576/work
anyio @ file:///Users/runner/miniforge3/conda-bld/anyio_1634574650283/work/dist
appdirs @ file:///home/conda/feedstock_root/build_artifacts/appdirs_1603108395799/work
appnope @ file:///Users/runner/miniforge3/conda-bld/appnope_1635819647402/work
argon2-cffi @ file:///Users/runner/miniforge3/conda-bld/argon2-cffi_1635881881216/work
asgiref @ file:///home/conda/feedstock_root/build_artifacts/asgiref_1625395912402/work
astroid @ file:///opt/concourse/worker/volumes/live/bfe34b29-f97b-4f30-52fd-0f433aa3bdd7/volume/astroid_1620827220814/work
async-generator==1.10
async-timeout==3.0.1
atpublic @ file:///home/conda/feedstock_root/build_artifacts/atpublic_1635204771494/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1620387926260/work
Babel @ file:///home/conda/feedstock_root/build_artifacts/babel_1619719576210/work
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1618230623929/work
black==19.10b0
bleach @ file:///home/conda/feedstock_root/build_artifacts/bleach_1629908509068/work
boto3 @ file:///home/conda/feedstock_root/build_artifacts/boto3_1618014561223/work
botocore @ file:///tmp/build/80754af9/botocore_1628183497250/work
brotlipy==0.7.0
cached-property @ file:///home/conda/feedstock_root/build_artifacts/cached_property_1615209429212/work
certifi==2021.10.8
cffi @ file:///opt/concourse/worker/volumes/live/8f6adc4a-81fe-45f9-5281-7ac695c7d83b/volume/cffi_1636541943052/work
chardet @ file:///Users/runner/miniforge3/conda-bld/chardet_1610093477312/work
click @ file:///Users/runner/miniforge3/conda-bld/click_1635822681337/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1602866480661/work
commonmark==0.9.1
configobj==5.0.6
cryptography @ file:///Users/runner/miniforge3/conda-bld/cryptography_1635145348049/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1635519461629/work
debugpy @ file:///Users/runner/miniforge3/conda-bld/debugpy_1635844988036/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1631346842025/work
defusedxml @ file:///home/conda/feedstock_root/build_artifacts/defusedxml_1615232257335/work
dictdiffer @ file:///home/conda/feedstock_root/build_artifacts/dictdiffer_1627027576828/work
diskcache @ file:///home/conda/feedstock_root/build_artifacts/diskcache_1611381483884/work
distro @ file:///home/conda/feedstock_root/build_artifacts/distro_1591810140801/work
dpath @ file:///Users/runner/miniforge3/conda-bld/dpath_1631479367836/work
dulwich @ file:///Users/runner/miniforge3/conda-bld/dulwich_1635915008891/work
dvc @ file:///Users/runner/miniforge3/conda-bld/dvc_1634873088566/work
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1605121927639/work/dist/entrypoints-0.3-py2.py3-none-any.whl
fastapi @ file:///home/conda/feedstock_root/build_artifacts/fastapi_1610101993319/work
flatten-dict @ file:///home/conda/feedstock_root/build_artifacts/flatten-dict_1629457542349/work
flufl.lock @ file:///home/conda/feedstock_root/build_artifacts/flufl.lock_1634088721286/work
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1634317979613/work
ftfy @ file:///home/conda/feedstock_root/build_artifacts/ftfy_1621924325797/work
funcy @ file:///home/conda/feedstock_root/build_artifacts/funcy_1620644331537/work
future @ file:///Users/runner/miniforge3/conda-bld/future_1635819868855/work
gitdb @ file:///home/conda/feedstock_root/build_artifacts/gitdb_1635085722655/work
GitPython @ file:///home/conda/feedstock_root/build_artifacts/gitpython_1632423794953/work
grandalf==0.6
gunicorn @ file:///opt/concourse/worker/volumes/live/f958ac2d-63e5-4751-6df7-f751b636b35e/volume/gunicorn_1617120640046/work
h11 @ file:///home/conda/feedstock_root/build_artifacts/h11_1609518832927/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1593328102638/work
importlib-metadata @ file:///Users/runner/miniforge3/conda-bld/importlib-metadata_1635818466785/work
importlib-resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1635615662634/work
iniconfig @ file:///home/conda/feedstock_root/build_artifacts/iniconfig_1603384189793/work
ipykernel @ file:///Users/runner/miniforge3/conda-bld/ipykernel_1634726430246/work/dist/ipykernel-6.4.2-py3-none-any.whl
ipython @ file:///Users/runner/miniforge3/conda-bld/ipython_1635632558290/work
ipython-genutils==0.2.0
ipywidgets @ file:///home/conda/feedstock_root/build_artifacts/ipywidgets_1631590360471/work
isort @ file:///home/conda/feedstock_root/build_artifacts/isort_1636447814597/work
jedi @ file:///Users/runner/miniforge3/conda-bld/jedi_1635824203037/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1633656206378/work
jmespath @ file:///home/conda/feedstock_root/build_artifacts/jmespath_1589369830981/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1633637554808/work
json5 @ file:///home/conda/feedstock_root/build_artifacts/json5_1600692310011/work
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema_1634752161479/work
jupyter @ file:///Users/runner/miniforge3/conda-bld/jupyter_1611871929170/work
jupyter-client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1633454794268/work
jupyter-console @ file:///home/conda/feedstock_root/build_artifacts/jupyter_console_1616560109969/work
jupyter-core @ file:///Users/runner/miniforge3/conda-bld/jupyter_core_1635407484999/work
jupyter-server @ file:///home/conda/feedstock_root/build_artifacts/jupyter_server_1635811281209/work
jupyterlab @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_1634741878908/work
jupyterlab-pygments @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_pygments_1601375948261/work
jupyterlab-server @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_server_1632590716858/work
jupyterlab-widgets @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_widgets_1631590465624/work
kiwisolver @ file:///Users/runner/miniforge3/conda-bld/kiwisolver_1635836828929/work
lazy-object-proxy @ file:///Users/runner/miniforge3/conda-bld/lazy-object-proxy_1635853424637/work
mailchecker @ file:///home/conda/feedstock_root/build_artifacts/mailchecker_1634660695963/work
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1635833661769/work
matplotlib @ file:///Users/runner/miniforge3/conda-bld/matplotlib-suite_1632416849437/work
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1631080358261/work
mccabe==0.6.1
mistune @ file:///Users/runner/miniforge3/conda-bld/mistune_1635844768785/work
more-itertools @ file:///home/conda/feedstock_root/build_artifacts/more-itertools_1631893103191/work
multidict @ file:///Users/runner/miniforge3/conda-bld/multidict_1633329879809/work
mypy-extensions==0.4.3
nanotime==0.5.2
nbclassic @ file:///home/conda/feedstock_root/build_artifacts/nbclassic_1635436909771/work
nbclient @ file:///home/conda/feedstock_root/build_artifacts/nbclient_1629120697898/work
nbconvert @ file:///Users/runner/miniforge3/conda-bld/nbconvert_1632536035327/work
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1617383142101/work
nest-asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1617163391303/work
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1635253012265/work
notebook @ file:///home/conda/feedstock_root/build_artifacts/notebook_1634668519289/work
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1635892119450/work
olefile @ file:///home/conda/feedstock_root/build_artifacts/olefile_1602866521163/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1635539860161/work
pandas==1.3.4
pandocfilters @ file:///home/conda/feedstock_root/build_artifacts/pandocfilters_1631603243851/work
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1617148930513/work
pathlib2 @ file:///Users/runner/miniforge3/conda-bld/pathlib2_1635859562010/work
pathspec @ file:///home/conda/feedstock_root/build_artifacts/pathspec_1626613672358/work
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1602535608087/work
phonenumbers @ file:///home/conda/feedstock_root/build_artifacts/phonenumbers_1635329154086/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
Pillow @ file:///Users/runner/miniforge3/conda-bld/pillow_1630696729270/work
pluggy @ file:///Users/runner/miniforge3/conda-bld/pluggy_1635832923215/work
ply==3.11
prometheus-client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1635538335951/work
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1634921890410/work
psutil @ file:///Users/runner/miniforge3/conda-bld/psutil_1635822818779/work
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1609419310487/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
py @ file:///home/conda/feedstock_root/build_artifacts/py_1607783655754/work
pyasn1==0.4.8
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1593275161868/work
pydantic @ file:///Users/runner/miniforge3/conda-bld/pydantic_1635894747325/work
pydot @ file:///Users/runner/miniforge3/conda-bld/pydot_1613571334672/work
pygit2 @ file:///Users/runner/miniforge3/conda-bld/pygit2_1633946310162/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1629119114968/work
pygtrie @ file:///home/conda/feedstock_root/build_artifacts/pygtrie_1609712740518/work
pylint @ file:///Users/runner/miniforge3/conda-bld/pylint_1614725365741/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1633192417276/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1635267989520/work
PyQt5==5.12.3
PyQt5_sip==4.19.18
PyQtChart==5.12
PyQtWebEngine==5.12.1
pyrsistent @ file:///Users/runner/miniforge3/conda-bld/pyrsistent_1635836867914/work
PySocks @ file:///Users/runner/miniforge3/conda-bld/pysocks_1635862551662/work
pytest==6.2.5
python-benedict @ file:///home/conda/feedstock_root/build_artifacts/python-benedict_1633418865701/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
python-fsutil @ file:///home/conda/feedstock_root/build_artifacts/python-fsutil_1620333537959/work
python-slugify @ file:///home/conda/feedstock_root/build_artifacts/python-slugify_1620267765676/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1633452062248/work
PyYAML==6.0
pyzmq @ file:///Users/runner/miniforge3/conda-bld/pyzmq_1635877502229/work
qtconsole @ file:///home/conda/feedstock_root/build_artifacts/qtconsole_1625023841584/work
QtPy @ file:///home/conda/feedstock_root/build_artifacts/qtpy_1632440819550/work
regex @ file:///opt/concourse/worker/volumes/live/b184664b-5e42-4a27-4460-a2bfcc34703b/volume/regex_1629302093730/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1608156231189/work
rich @ file:///Users/runner/miniforge3/conda-bld/rich_1633550185363/work
ruamel.yaml @ file:///Users/runner/miniforge3/conda-bld/ruamel.yaml_1635932896417/work
ruamel.yaml.clib @ file:///Users/runner/miniforge3/conda-bld/ruamel.yaml.clib_1610147042783/work
s3fs @ file:///home/conda/feedstock_root/build_artifacts/s3fs_1634322382745/work
s3transfer @ file:///Users/runner/miniforge3/conda-bld/s3transfer_1602631045883/work
scikit-learn @ file:///Users/runner/miniforge3/conda-bld/scikit-learn_1635240778338/work
scipy @ file:///Users/runner/miniforge3/conda-bld/scipy_1628206458939/work
Send2Trash @ file:///home/conda/feedstock_root/build_artifacts/send2trash_1628511208346/work
shortuuid @ file:///Users/runner/miniforge3/conda-bld/shortuuid_1610439287599/work
shtab @ file:///home/conda/feedstock_root/build_artifacts/shtab_1634009133986/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
smmap @ file:///home/conda/feedstock_root/build_artifacts/smmap_1611376390914/work
sniffio @ file:///Users/runner/miniforge3/conda-bld/sniffio_1635844987423/work
starlette @ file:///home/conda/feedstock_root/build_artifacts/starlette_1595508258730/work
tabulate @ file:///home/conda/feedstock_root/build_artifacts/tabulate_1614001031686/work
terminado @ file:///Users/runner/miniforge3/conda-bld/terminado_1631128524766/work
testpath @ file:///home/conda/feedstock_root/build_artifacts/testpath_1621261527237/work
text-unidecode==1.3
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1633102299089/work
toml @ file:///home/conda/feedstock_root/build_artifacts/toml_1604308577558/work
tornado @ file:///Users/runner/miniforge3/conda-bld/tornado_1635819838703/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1632160078689/work
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1635260543454/work
typed-ast @ file:///opt/concourse/worker/volumes/live/aeacb77e-3cbc-4636-47b8-620b0c4008b5/volume/typed-ast_1624953685731/work
typing-extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1632313171031/work
Unidecode @ file:///home/conda/feedstock_root/build_artifacts/unidecode_1631795222793/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1632350318291/work
uvicorn @ file:///Users/runner/miniforge3/conda-bld/uvicorn_1635934189918/work
voluptuous @ file:///home/conda/feedstock_root/build_artifacts/voluptuous_1634129269635/work
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1600965781394/work
webencodings==0.5.1
websocket-client @ file:///Users/runner/miniforge3/conda-bld/websocket-client_1635860008829/work
widgetsnbextension @ file:///Users/runner/miniforge3/conda-bld/widgetsnbextension_1635456324826/work
wrapt @ file:///Users/runner/miniforge3/conda-bld/wrapt_1635836504890/work
xmltodict==0.12.0
yarl @ file:///Users/runner/miniforge3/conda-bld/yarl_1633682400073/work
zc.lockfile==2.0
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1633302054558/work
